
<ul class="ui-menu-list ui-helper-reset" [style.display]="expanded ? 'block' : 'none'">

    <li *ngFor="let child of item.items" class="ui-menuitem " [ngClass]="{'ui-menu-parent':child.items}">
        <a #link [href]="child.url||'#'" class="ui-menuitem-link ui-corner-all"
           [ngClass]="{'ui-menuitem-link-hasicon':child.icon&&child.items,'ui-state-hover':(hoveredLink==link)}" (click)="onClick($event,child)"
           (mouseenter)="hoveredLink=link" (mouseleave)="hoveredLink=null">
            <span class="ui-panelmenu-icon fa fa-fw" [ngClass]="{'fa-caret-right':!isActive(child),'fa-caret-down':isActive(child)}" *ngIf="child.items"></span>
            <span class="ui-menuitem-icon fa fa-fw" [ngClass]="child.icon" *ngIf="child.icon"></span>
            <span class="ui-menuitem-text">{{child.label}}</span>
        </a>
        <panelmenuSub [item]="child" [expanded]="isActive(child)" *ngIf="child.items"></panelmenuSub>
    </li>
</ul>